{% extends "base.html" %}

{% block content %}
<h1 class="display-1">Par</h1>
<h2 class="display-5">Kāpēc izveidot rekomendētāju?</h2>
<p class="lead">Lai gan Spotify ir pieejami visi mūsu lietotāju dati un tā var veikt ļoti labus minējumus par to, ko mēs varētu patikt,
    nav konkrēta meklēšanas rīka, jo tam ir pieeja, kas balstīta uz izpēti un lietotāju vēsturi.
    Šī lietotne mērķē uz rekomendētāju, kas balstīts uz ievadīto dziesmu sarakstu un iestatītajiem filtriem,
    piemēram, žanriem, gada diapazonu vai mākslinieku popularitāti.</p>
<h2 class="display-5">Kā tas darbojas?</h2>
<p class="lead">Būtībā tas lūdz lietotājam izvēlēties savas mīļākās dziesmas no Spotify, tad tas salīdzina katru no tām - vienu pa vienai - ar katru dziesmu rekomendētāja datu kopā. Lai to izdarītu, tas iegūst dziesmu audio īpašības, ko nodrošina Spotify API, un aprēķina Eiklīda attālumu starp ievadītajām dziesmām un datu kopas dziesmām, lai ģenerētu līdzības indeksu. Rekomendētās dziesmas ir tās, kas datu kopā ir vislielākā līdzības indeksa vērtība salīdzinājumā ar katru ievadīto dziesmu (tuvinās 1.0).</p>
<p class="lead">Personīgāka rekomendācija var tikt veikta, ievadot lietotāja datus par viņu vēlamo mākslinieku, pēc tam, kad ir pieslēdzies Spotify kontam (tikai šī informācija tiek iegūta).</p>
<h2 class="display-5">Īpašības</h2>
<p class="lead">Dziesmās novērtētās īpašības ir šādas <a
        href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-several-audio-features/"
        target="_blank">(atbilstoši Spotify API dokumentācijai)</a>:</p>
<ul class="lead">
    <li><b>Akustiskums:</b> jo augstāka šī vērtība, jo mazāk tiek izmantoti elektriski pastiprināti instrumenti</li>
    <li><b>Dejotspēja:</b> cik piemērota dejošanai atbilstoši tempam, ritma stabilitātei, sitiena stiprībai un kopējai regulārai</li>
    <li><b>Enerģija:</b> dziesmas intensitāte un aktivitāte, enerģiskas dziesmas izklausās ātras, skaļas un trokšņīgas</li>
    <li><b>Instrumentalitāte:</b> jo augstāka šī vērtība, jo mazāk vokālu ir dziesmā. Vērtības virs 0.5 tiek uzskatītas par instrumentālām dziesmām, bet pārliecība ir lielāka, tuvojoties 1.0</li>
    <li><b>Dzīvīgums:</b> norāda uz iespēju, ka dziesma tiek izpildīta ar dzīvo auditoriju. Vērtība virs 0.8 liecina, ka dziesma ir dzīva</li>
    <li><b>Runājamība:</b> runāto vārdu klātbūtne dziesmā:
        <ul>
            <li><b>Virs 0.66:</b> dziesma, kas sastāv tikai no runātajiem vārdiem (stand-up šovs, podkāsts)</li>
            <li><b>Starp 0.33 un 0.66:</b> dziesma ar mūziku un runātajiem vārdiem</li>
            <li><b>Zem 0.33:</b> galvenokārt instrumentālas dziesmas</li>
        </ul>
    </li>
    <li><b>Temps:</b> dziesmas kopējais tempi <a href="https://en.wikipedia.org/wiki/Tempo#Measurement"
            target="_blank">pulksteņrādītājos minūtēs</a></li>
    <li><b>Valence:</b> mūzikas pozitivitāte dziesmā, jo augstāka vērtība, jo pozitīvāka (priecīga, jautra) tā skaņo, jo zemāka vērtība, jo negatīvāka (skumja, dusmīga)</li>
</ul>
<h2 class="display-5">Attāluma aprēķins</h2>
<p class="lead">Galvenā ideja ir salīdzināt atšķirību starp visām ievadīto dziesmu īpašībām un datu kopas dziesmu īpašībām. Lai to izdarītu, mēs izmantojam <a href="https://en.wikipedia.org/wiki/Euclidean_distance"
        target="_blank">Eiklīda attālumu</a>.</p>
<h3 class="display-6">Piemēri</h3>
<p class="lead">Ja mums būtu tikai 2 īpašības (vai dimensijas), kur <i>1</i> ir horizontālā ass un <i>2</i> ir vertikālā ass, mēs varētu redzēt dziesmas kā punktus <i>p</i> un <i>q</i> un attālumu starp tiem plaknē šādi:</p>
<img src="static/img/pythagoras.png" class="figure-img img-fluid rounded center" alt="2 dimensiju piemērs">
<p class="lead">Vai, ja mums būtu vairāk dimensiju <i>n</i>, piemēram, mūsu gadījumā, kur <i>n = 8</i>:</p>
<img src="static/img/euclidean_distance.png" class="figure-img img-fluid rounded" alt="n dimensiju piemērs">
<p class="lead">Kur <i>p</i> un <i>q</i> ir dziesmas, un apakšindeksi (<i>1</i>, <i>2</i>, ..., <i>i</i>, ..., <i>n</i>) ir īpašības (akustiskums, dejotspēja, utt.)</p>
<h2 class="display-5">Līdzība</h2>
<p class="lead">Kad mēs iegūstam attālumus starp katru no dziesmām, mēs varam salīdzināt attālumu starp ievadīto dziesmu un katru citu dziesmu datu kopā šādi:</p>
<img src="static/img/similarity.png" class="figure-img img-fluid rounded" alt="līdzības indeksa formulas">
<p class="lead">un izvēlēties dziesmu ar līdzību, kas ir tuvāka 1.0 (ievadītās dziesmas vērtība) starp tām, kas ir datu kopā.</p>
{% endblock %}
